{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Login to DanialFood" %}{% endblock %}

{% block content %}
<div class="card auth-card">
    <h2>{% trans "Login" %}</h2>

    <form method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <div class="form-group">
            <label>{% trans "Username" %}</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label>{% trans "Password" %}</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-block btn-lg">{% trans "Login" %}</button>
    </form>
    <div class="auth-footer">
        {% trans "Don't have an account?" %} <a href="{% url 'web_register' %}">{% trans "Register" %}</a>
    </div>
</div>
{% endblock %}
